<li class="comment-<%= comment._id %>">
    <p>
      <small>
        <a href="/comments/destroy/<%= comment.id%>">X</a>
      </small>
       <%= comment.content%>
       <br>
       <small> <%= comment.user.name%> </small>
      </p>
  </li>