<h1>Sign-In </h1>

<form action="/users/Create-Session" method="post">
    <label for="email">Enter your Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Enter your Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Sign In</button>
    
</form>